body {
	position: relative;
	background-color: #f3ebcb;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

#instructionsBox {
	border: 3px ridge grey;
	background-color: #dfdfdf;
	width: max-content;
	padding: 20px;
}

#Welcome {
	text-align: center;
}

#letters {
	display: flex;
	align-items: center;
}


#wordSpace {
	display: flex;
}

.usedLetters, .uScore {
	font-size: 22px;
	font-weight: bold;
	margin: 2px;
}